{% extends "base.html" %}

{% block content %}
  <p class="error">{{error_message}}</p>
  {% for instagram in instagrams %}
    <form method="post" class="form">
      <div class="form-group">
        <label class="label-control">Subject</label>
        <input type="text" class="form-control" name="subject" value="{{instagram.subject}}">
      </div>
      <div class="form-group">
        <label class="label-control">Content</label>
        <textarea type="text" class="form-control" name="content" rows="10" cols="5">{{instagram.content | safe}}</textarea>
      </div>



    


      <div class="form-group text-right">
        <a type="button" href="/{{instagram.key.id()}}" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  {% endfor %}
{% endblock %}
